<h1>Facesmash</h1>
<p>Vote for a Person</p>


<div class="row">
    <div class="col-sm-6">
        <%= render @profile_left %>
    </div>


    <div class="col-sm-6">
        <%= render @profile_right %>
    </div>
</div>